* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    background-color: darkgrey;
}

#calculator {
    margin: 300px auto;
    width: 300px;
    height: 450px;
    border: 3px solid black;
    border-radius: 20px;
    background-color: rgb(107, 103, 103);
    display: flex;
    flex-direction: column;
}

.screen {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 3px solid black;
    text-align: center;
    width: 100%;
    padding: 20px 40px;
    background-color: aliceblue;
    font-size: 40px;
}

.buttons {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    flex: 1;
}

.numpad {
    flex-basis: 150px;
    flex-grow: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    column-gap: 10px;
}

.operators {
    flex-basis: 50px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

button {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    background-color: rgb(126, 80, 80);
    color: white;
    font-size: large;
}

#AC {
    width: 204px;
}

.operators button {
    background-color: orange;
}